<ion-view view-title="文章分类">
	 <ion-content>
	 	
	 	<ion-list>
	 		<ion-item ng-repeat="item in articleData">
	 			<!--<a href="#/tab/articlelist/{{item.catid}}">{{item.catname}}</a>-->
	 			<a href="#/tab/articlelist/{{item.catid}}">{{ item.catname }}</a>
	 			<!--副标题循环，循环item下的subcate-->
	 			<ion-list>
					<ion-item ng-repeat="list in item.subcate">
						<a href="#/tab/articlelist/{{list.catid}}">
							{{ list.catname }}
						</a>
					</ion-item>
				</ion-list>
	 		</ion-item>
	 	</ion-list>
	 </ion-content>
	
</ion-view>
